.center
  %h2 Official meeting times

%hr

%iframe{ :src => 'https://www.google.com/calendar/embed?showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;width=700px&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=rdci3fh1cohg6psdikn8lcvtbk%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FNew_York' } Calendar
